<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/xstylesheets' %>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/xheader' %>
      <section class="round">
        <%= yield %>
      </section>
	  <%= render 'layouts/xfooter' %>
    </div>
  </body>
</html>